<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        <h1>Titanes Gym</h1>
        <br />

        <h2><strong>Sobre Nosotros</strong></h2>
        <p>En Titanes Gym nos gusta la Cultura Física y el entrenamiento físico que debemos tener para poder mantenernos físicamente en estos tiempo. Te invitamos a seguir una rutina de ejercicios y prontamente veras los cambios en tu cuerpo y salud.</p>
        <br />

        <h2><strong>Actualizacion De Maquinarias!</strong></h2>
        <p>Siempre innovando para nuestros distinguidos clientes hemos instalado una estética en donde todos pueden pasar y realizarse el tratamiento que deseen, logrando asi mejores resultados.</p>
        <br />

        <h2><strong>¿Que Buscamos como </strong></h2>
        <p>Ser un gimnasio líder, brindando calidad y bienestar a nuestros miembros, generando valor humano y profesional a nuestra empresa, a nuestros colaboradores y a nuestra comunidad.</p>

        <img src="https://cdn.discordapp.com/attachments/831658951203356673/980755859707658240/Titanes_GYM.png" width="720" height="550" />
    </div>
</body>
</html>
